/* src/components/About.css */
.about {
   position: relative;
   text-align: center;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .about_background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('/background.jpg') no-repeat center center;
   background-size: cover; 
   z-index: -1;
 }
 
 .about_content {
   position: relative;
   width: 80%;
   z-index: 1;
   background: rgba(0, 0, 0, 0.4);
   padding: 20px;
   border-radius: 10px;
   margin: 20px;
 }
 