/* src/components/FeatureCard.css */
.feature-card {
   background: rgba(255, 255, 255, 0.8);
   padding: 20px;
   margin: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .feature-card h2 {
   margin-bottom: 10px;
   font-size: 1.5em;
   color: #333;
 }
 
 .feature-card p {
   font-size: 1em;
   color: #555;
   white-space: pre-wrap; /* Preserve line breaks */
 }
 