/* src/components/Footer.css */
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
   text-align: center;
   padding: 10px 0;
   z-index: 1000;
}

.footer a {
   text-decoration: none;
   color: white;
   margin: 0 10px;
}

.footer a:hover {
   color: #ddd;
}

.social-media__link {
   display: inline-block;
   margin-left: 5px;
}

.social-media__img {
   width: 30px;
   height: 30px;
   vertical-align: middle;
}