/* src/App.css */
.App {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 50px; /* Adjust based on the reduced Navbar height */
   padding-bottom: 50px; /* Adjust based on Footer height */
 }
 
 .main-content {
   flex: 1;
   position: relative;
   z-index: 1;
 }
 